* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, "Times New Roman", serif;
    background-color: #fdf0f5;
    color: #5f3d48;
}

.admin-layout {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.sidebar {
    width: 260px;
    min-height: 100vh;
    background-color: #f6bfd3;
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.sidebar-logo {
    text-align: center;
    margin-bottom: 50px;
}

.sidebar-logo img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.sidebar-logo h2 {
    color: #d05f7c;
}

.sidebar-logo p {
    color: #8b5968;
    font-size: 14px;
    margin-top: 3px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 13px 15px;
    border-radius: 12px;
    text-decoration: none;
    color: #9d5269;
    font-weight: bold;
    transition: 0.2s;
}

.sidebar-link:hover {
    background-color: #f9d9e4;
    color: #d05f7c;
}

.sidebar-bottom {
    margin-top: auto;
}

.logout-link {
    color: #9d5269;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #5f3d48;
    
}

h4 {
    font-size: 16px;
    color: #8b5968;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.card {
    background-color: #f9d9e4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.event-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 100%;
}

.event-card {
    background-color: #f9d9e4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
}

